<!doctype html>
<html>	
	<head> 
		<title>Mortgage Calculator</title>
		<script src="tappytest.js" type="text/javascript"></script>
	</head>

	<body>
		<h1> Mortgage Rates Are Crazy!</h1>
		<%= yield %>
	</body>
</html>
