<!doctype html>
<html>	
	<head> 
		<link rel="stylesheet" type="text/css" href="/stylesheets/application.css"></link>
		<title>Mortgage Calculator</title>
		<script src="tappytest.js" type="text/javascript"></script>
	</head>

	<body>
		<a href="/"><h1> Mortgage Rates Are Crazy!</h1></a>
		<div class="header-container">
			<a href="/mortgage" target="_blank"> Mortgage Calculator </a>
		</div>
		<%= yield %>
	</body>
</html>
